;!@Install@!UTF-8!
Title="VideoStream_server"
;BeginPrompt="Install VideoStream?"
GUIMode="1"
MiscFlags="4"
GUIFlags="2+4+32+128+1024"
OverwriteMode="8"
;BeginPromptTimeout="10"
ExtractDialogWidth="500"
ExtractPathWidth="500"
ExtractDialogText="Installing..."
ExtractPathTitle="Install VideoStream_server..."
ExtractPathText="Choose path for Installation"
ExtractTitle="Installing VideoStream_server..."
InstallPath="%LOCALAPPDATA%\\Programs\\VideoStream"
RunProgram="hidcon:fm5:%%P:\"install.bat\"%%M"
SelfDelete="1"
FinishMessage="VideoStream_server was installed"
;Project created in program 7z SFX Constructor
;!@InstallEnd@!